# Bonus: Temperature Analysis I

In [1]:
import os
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
file_to_load = os.path.join('data', 'hawaii_measurements.csv')
df = pd.read_csv(file_to_load, delimiter=',')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['Date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date               object
prcp              float64
tobs                int64
Date       datetime64[ns]
dtype: object

In [4]:
# Set the date column as the DataFrame index
df.set_index('Date', inplace=True)
df.head()

                station        date  prcp  tobs
Date
2010-01-01  USC00519397  2010-01-01  0.08    65
2010-01-02  USC00519397  2010-01-02  0.00    63
2010-01-03  USC00519397  2010-01-03  0.00    74
2010-01-04  USC00519397  2010-01-04  0.00    76
2010-01-06  USC00519397  2010-01-06   NaN    73

In [5]:
# Drop the date column
df.drop('date', axis=1, inplace=True)
df.head()

                station  prcp  tobs
Date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [9]:
# Filter data for the month of June
jun_df = df[df.index.month == 6]
jun_df.head()

                station  prcp  tobs
Date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [10]:
# Filter data for the month of December
dec_df = df[df.index.month == 12]
dec_df.head()

                station  prcp  tobs
Date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [11]:
# Identify the average temperature for June
jun_avg = round(jun_df['tobs'].mean(),2)
print(f'The average temperature for June is {jun_avg}')

The average temperature for June is 74.94

In [13]:
# Identify the average temperature for December
dec_avg = round(dec_df['tobs'].mean(),2)
print(f'The average temperature for December is {dec_avg}')

The average temperature for December is 71.04

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis